html {
  background-color: #e8e8e8;
  color: #30475e;
}

.boxStyle {
  background-color: rgb(248, 247, 247);
  border: 0px;
}

.main {
  display: flex;
  justify-content: center;
}

.colorBoxBW {
  background-color: #3c4048;
}

.header {
  text-align: center;
  font-family: "Lobster", cursive;
  font-size: 52px;
  padding-top: 28px;
  padding-bottom: 44px;
}

.body {
  display: flex;
  justify-content: center;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 100px;
}

.button {
  background-color: #e8e8e8;
  border: 2px solid #3c4048;
  border-radius: 3px;
  width: 200px;
  color: #3c4048;
  padding: 13px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 24px;
  font-family: "Roboto", sans-serif;
}

.activeButton {
  background-color: #3c4048;
  color: #e8e8e8;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border: 2px solid #3c4048;
  border-radius: 5px;
  background: white;
  outline: none;
  /* opacity: ; */
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #3c4048;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #3c4048;
  cursor: pointer;
}

.gridSize {
  font-family: "Roboto", sans-serif;
  color: #3c4048;
  font-size: 18px;
  font-weight: 400;
}

.boxClear {
  background-color: whitesmoke;
}

/* pick Color style  */

input[type="color"] {
  -webkit-appearance: none;
  width: 80px;
  height: 80px;
  border: none;
  cursor: pointer;
  background-color: #e8e8e8;
  margin: 24px auto;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding-bottom: 0px;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.button:hover {
  transform: scale(1.03);
}

.button {
  cursor: pointer;
}
